---
layout: default
---

<iframe src="https://maps.meteoradar.co.uk/GratisRadar/441/600/actueel?zoom=10" scrolling=no width=500 height=500 frameborder=no></iframe>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Logged" }}</h2>
    <ul id="top-of-list" class="post-list">
      {%- for post in site.posts -%}
      <li class="post-hook">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <br>
          {% for cat in post.categories %}
            <span class="cat-tags {{ cat }}">{{ cat }}</span>
          {% endfor %}
        </h3>
        {%- if site.show_excerpts -%}
          <span>{{ cat }} {{ post.excerpt }}</span>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

<style>
  .cat-tags {
    color: white;
    background: linear-gradient(to bottom, #ffccff 0%, #ff99cc 100%);
    padding: 1%;
    font-size: 80%;
    border-radius: 10px;
  }
  .search-bar {
    float: left;
    text-align:center;
    width: 20%;
    margin: 5px;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 60%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>


<script>

  console.log('nerd')
  var bar = '<input type="text" class="search-bar" placeholder="Search..">'
  $(".post-list-heading").prepend(bar)
  $(bar).addClass(".search-bar")

  //var totalPosts = document.getElementsByClassName(".post-meta");

  $(".post-list-heading").append('<span style="font-size:50%;">' + '   Total: (' + $('.post-hook').length + ')' + '</span>')
  console.log($('.post-hook').length);
  //$(".post-list-heading").text('' + $('.post-hook').length + '')

  $(document).on('keypress',function(e) {
    if(e.which == 13) {
        var searchTerm = $(".search-bar").val();
        console.log(searchTerm)
        var posts = document.getElementsByClassName(searchTerm);
        

        $(posts).map(function() {
          console.log(this)
          var hook = this.parentElement.parentElement
          $(hook).css("background-color", "#FFDFD3");
          $("#top-of-list").prepend(hook)
          $(hook).addClass("post-meta")
          $(this).addClass("cat-tags")
        });
    }
  });
  // POTENTIAL UI TOOL
  // http://augmented-ui.com/
</script>
